<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fondation Meyer : {{ title }}</title>

  <!-- viewport meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="grid" x-data={}>
  <div class="logo" role="navigation" aria-label="Fondation Logo">
    <a href="/" title="Fondation Meyer">
    <picture>
      <source media="(max-width: 1000px)" srcset="/images/fondation-meyer-logo-mob.svg">
      <source media="(min-width: 1200px)" srcset="/images/fondation-meyer-logo.svg">
      <img src="./images/fondation-meyer-logo.svg" alt="Fondation Meyer logo">
    </picture>
    </a>
  </div>

  {% include 'partials/nav.njk' %}

  {% if title != 'beneficiaries' %}
  <header class="page-title align-self-end">
    <h1 class="font-size-900 font-uppercase clr-neutral-900 ">
      {{ title }}</h1>
  </header>
  {% endif %}

  <main  {% if nogrid %} class="nogrid"  {% endif %}>
    {% block content %}{% endblock %}

    {% if links %}
    <aside class="row-start-1 align-self-start">
      <ul role="list">
        {% for link in links %}
        <li class="font-color-primary">
          <a href="{{link.url}}" target="{{link.target}}"> {{ link.name }} </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    {% endif %}

  </main>


  {% include 'partials/footer.njk' %}
</body>

</html>
