<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fondation Meyer : {{ title }}</title>

  <!-- stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- javascript -->
  <script src="/assets/js/client.js" type="module"></script>
</head>

<body class="grid" x-data={}>
    <a href="/" class="col-start-1 col-span-3 row-start-1 logo"><img src="/images/fondation-meyer-logo.svg" alt=""></a>
    {% include 'partials/nav.njk' %}

    <h1 class="{{colspan}} col-span-6 col-start-4 row-start-1 font-size-900 font-uppercase clr-neutral-900 align-self-end">{{ title }}</h1>

    <main class="{{colspan}} col-span-6 col-start-4 row-start-2">
      {% block content %}{% endblock %}
    </main>

  {% include 'partials/footer.njk' %}
</body>

</html>
