{% extends 'base.njk' %}

{% block content %}
  {% for news_item in collections.news  | reverse %}
    <div>
        <h2> {{ news_item.data.title }} </h2>
        <br>
        <p>{{ news_item.templateContent | safe }}</p>
        <a href="{{ news_item.url }}">{{ news_item.data.title }}</a>
    </div>
  {% endfor %}

  <aside class="row-start-1 align-self-start">
    <ul role="list">
      {% for news_item in collections.news  | reverse %}
        <li>
            <a href="{{ news_item.url }}" target="{{news_item.target}}">{{ news_item.data.menu }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endblock %}
