{% extends 'base.njk' %}

{% block content %}
  {% for news_item in collections.news %}
    <a class="news-entry" href=".{{ news_item.url }}">
      <h2>{{ news_item.data.title }}</h2>
      <p>excerpt from the article to be pulled programatically</p>
      <footer>published {{ news_item.data.date }}</footer>
    </a>
  {% endfor %}
{% endblock %}
