{% macro sidelinks(year, name, description, url) %}

<div class="laureat">
  <div class="details">
    <h3>
      <span class="secondary-font font-size-800 font-uppercase clr-neutral-900">{{ year }} - </span>
      <span class="secondary-font font-size-800">{{ name }}</span>
    </h3>
    <p>{{ description }}</p>
  </div>

  <a class="aside" href="{{ url }}">
    {{ name }}
  </a>

</div>
{% endmacro %}
