<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fondation Meyer : {{ title }}</title>

  <!-- stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- javascript -->
  <script src="/assets/js/client.js" type="module"></script>
</head>
<body>
