@use 'reset'
@use 'system'
@use 'type'
@use 'media'
@use 'layout'

.loading
  position: absolute

[x-cloak]
  display: none !important

nav
  ul
    display: flex
    flex-direction: column
    gap: var(--font-size-400)

  ul.primary > li 
    text-transform: uppercase

  ul.secondary
    margin-block-start: var(--font-size-400)
    padding-inline-start: var(--font-size-400)

    li 
      color: var(--clr-neutral-400)
      text-transform: none

a
  color: var(--clr-neutral-400)
  text-decoration: none

  &:visited
    color: var(--clr-neutral-400)

  &[aria-current]
    text-decoration: underline

.logo
  margin-block-start: var(--font-size-800)
  margin-block-end: var(--font-size-300)

main
  padding-inline-end: var(--font-size-400)
  max-width: 100%

  p
    max-width: 75ch

nav[aria-role="Primary"],
main
  >:first-child
    margin-block-start: var(--font-size-600)


/* CUSTOM ELEMENTS */
button
  border: none
  background-color: transparent
  padding: 0
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

  svg
    display: block
    line-height: 1
    height: 1.5em

  &.search
    color: var(--clr-neutral-400)
    height: 100%
    transition: color ease 0.5s

    &.active
      color: var(--clr-neutral-900)


.row
  display: grid
  grid-template-columns: 22ch 10ch 1.25fr 0.5fr 0.5fr 1fr
  gap: var(--font-size-200)
  margin-block: var(--font-size-200)

  &.heading
    font-weight: 600
    border-bottom: 1px solid var(--clr-neutral-400)

nav.filters
  display: grid
  grid-template-columns: 2em auto
  gap: 0.25em
  align-items: center

  .filter-wrapper
    position: relative
    height: 4em
    width: 100%
    
    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      bottom: 0
      right: 0
      height: 100%
      width: var(--font-size-900)
      background-image: linear-gradient(90deg, rgba(255,255,255,0), var(--clr-neutral-100))
      pointer-events: none

    input
      position: absolute
      width: 100%
      height: 100%
      padding-inline: var(--font-size-200)
      font-size: var(--font-size-600)

  .year-scroller
    position: absolute
    overflow: hidden
    margin-block-end: var(--font-size-400)
    width: 100%

    font-size: var(--font-size-600)
    color: var(--clr-neutral-400)

    overflow-x: scroll
    scrollbar-color: var(--clr-neutral-400) transparent
    scrollbar-width: thin

    scroll-behavior: smooth
    scroll-snap-type: inline proximity

    .year-list
      display: grid
      grid-auto-flow: column
      grid-auto-columns: 1fr
      gap: var(--font-size-200)

      .year
        display: block
        padding-block: var(--font-size-200)
        scroll-snap-align: none start 

        &:last-of-type
          margin-inline-end: 30vw

        &.selected
          text-decoration: none
          color: var(--clr-neutral-900)
