---
layout: "page.njk"
permalink: "beneficiaries/conservatoire/"
---

<div class="year-scroller">
  <div class="year-list">
    <template x-for="y in $store.beneficiaries.years">
      <a class="year" :href="y" :data-year="y" :class="y == $store.beneficiaries.selectedYear ? 'selected' : ''" @click.prevent="$store.beneficiaries.select($el)" x-text="y"></a>
    </template>
  </div>
</div>

<input type="text" placeholder="search" @input="$store.beneficiaries.input($el)">

<div class="row heading">
  <div class="nom">Prénom <strong>NOM</strong></div>
    <div class="discipline">Discipline</div>
    <div class="etudes">Stage des études</div>
    <div class="annee">Année</div>
    <div class="aide">Aide</div>
    <div class="description">Titre / Description</div>
</div>

<div x-show="$store.beneficiaries.loading">
  <p>Loading...</p>
</div>

<template x-for="b in $store.beneficiaries.list">
  <div class="row beneficiary">
    <div class="nom">
      <span x-text="b.prenom"></span>
      <span x-text="b.nom"></span>
    </div>
    <div class="discipline" x-text="b.discipline"></div>
    <div class="etudes" x-text="b.etudes"></div>
    <div class="annee" x-text="b.annee"></div>
    <div class="aide" x-text="b.aide"></div>
    <div class="description" x-text="b.description"></div>
  </div>
</template>
